<div v-view-setup="LYBtransQryCtrl" v-init="init()">
	<div class="bg_box" v-page v-transition="native" title="交易明细">
		<div class="box_cont">
			<div class="zz_cont">
			      <ul>
						<li>
							<em>账号：</em>
							<i>
								{{acNo}}
							</i>
						</li>
						<li>
							<em>开始日期：</em>
							<i>
								<input type="text" name="beginDate" placeholder="请选择开始日期" v-model="beginDate" ui-calendar='{"maxView":3,"todayBtn":1,"minView":2,"autoclose": true,"format": "yyyy-mm-dd"}' class="y_srk" readonly>
							</i>
						</li>
						<li>
							<em>结束日期：</em>
							<i>
								<input type="text" name="endDate" placeholder="请选择结束日期" v-model="endDate" ui-calendar='{"maxView":3,"todayBtn":1,"minView":2,"autoclose": true,"format": "yyyy-mm-dd"}' class="y_srk" readonly>
							</i>
						</li>
						<li>
							<em>交易类型：</em>
							<i>
								<select  v-model="transType" name="transType" v-options="tt.name for tt in transTypeList" >
								</select>
							</i>
						</li>
				 </ul>
				<div>
		     		<input type="submit"  class="button_1" name="Submit" value="查询" v-click="toQuery()">
		     	</div>
		    </div>
		    
		</div>
		<div class="showborder1" v-repeat="detail in detailList">
			      <ul>
						<li><em>{{detail.prdName}}</em><i>{{detail.tranDate|formatDatept}}</i></li>
						<li><em style="font-size:15px;width:50%">交易描述：{{detail.amtDir|lybTransClassFilter}}</em><i style="font-size:15px;width:40%;float:right" v-class="{'red':detail.amtDir==0||detail.amtDir==2,'green':detail.amtDir==1}">{{detail.amount}}</i></li>
				  </ul>
		    </div>
	</div>
</div>
<script>
LYBtransQryCtrl.$inject = ["$scope","$remote","$targets","$context"];
function LYBtransQryCtrl($scope,$remote,$targets,$context){
	
	$scope.init=function(){
		$scope.acNo=$context.getJson().acNo;
		//获取交易类型
		$remote.get("data/LYBtransQry/LYBtransQry.json",{},function(data){
			$scope.transTypeList=data;
			$scope.transType=$scope.transTypeList[0];
		});
		//获取服务器当前时间
		$remote.post("/pmobile/GenTimeStamp.do",{},function(data){
			var serviceTime=data._sysDate;
			$scope.beginDate=$scope.formartDate(serviceTime,-7,"-");
			$scope.endDate=$scope.formartDate(serviceTime,0,"-");
		});
	}
	//查询交易明细
	$scope.toQuery=function(){
		var params={
				"accNo":$scope.acNo,
				"accType":0,
				"amtDir":$scope.transType.value,
				"BeginDate":$scope.formartDate($scope.beginDate,0),
				"EndDate":$scope.formartDate($scope.endDate,0),
				"pageSize":100,
				"currentIndex":1
		}
		$remote.post("/pmobile/QueryLYBMxInfo.do",params,function(data){
			if(data._RejCode){
				$scope.detailList=data.List;
			}
		},function(data){
			if(data.jsonError){
				$scope.alert(data.jsonError);
			}
			$scope.detailList=[];
			return data.jsonError;
		});
	}
}
</script>