<div v-view-setup="LoanIntrduceCtrl" v-init="init()">
	<div class="bg_box" v-page v-transition="native" title="贷款介绍">
		<div class="box_cont">
			<div class="zz_cont">
				<ul>
						<li>
							<em >职业：</em>
							<i>
								<select v-model="jobtype" name="jobtype"  >
									<option value="A">私营业主</option>
									<option value="B">工薪人士</option>
								</select>			
							</i>
						</li>
						<li>
							<em >贷款用途：</em>
							<i>
								<select v-model="loantype" name="loantype" v-change="">
									<option value="C">经营性贷款</option>
									<option value="D">消费性贷款</option>
									<option value="E">购车贷款</option>
									<option value="F">装修贷款</option>
									<option value="G">创业贷款</option>
								</select>			
							</i>
						</li>
				</ul>
			</div>
			<div class="zz_cont">
				<input type="submit"  class="button_1" name="Submit" value="确认" v-click="doResult()">
			</div>
			<div class="zz_cont">
					<div v-repeat="pro in proList"  style="margin-top:10px">
						<input v-click="change($index)" type="button"  class="button_loan"  value="{{pro.ProName}}" style="background: url(images/baijiantou.png)  no-repeat right center #4c98e3;background-size:15px;height: 55px;margin-top:2px;margin-bottom:0px;border-radius:0px;background-position-x: 93%;background-position-y: 52%;" >
						<div  class="menu" style="display:none;font-size: 14px;">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{pro.ProIntrduce}}
								<br><br>
							<div style="text-align:center;">
							<input type="button"  class="button_5" name="inv" value="申请" v-click="invite(pro)" style="width: 110px;margin-left:0px;font-size: 16px;background:#f18903">
							</div>
						</div>
					</div>		
			</div>
		</div>
	</div>
	<div class="bg_box" v-page v-transition="native" title="贷款申请">
		<div class="box_cont" >
			<div class="zz_cont">
				<ul>
						<li>
							<em >客户姓名：</em>
							<i>
								<input type="text" placeholder="请输客户姓名" name="ctmname" v-model="ctmname" class="y_srk" required/>		
							</i>
						</li>
						<li>
							<em >申请金额：</em>
							<i>
								<input type="text" ui-num='{"maxlength":11,"hasDot":true,"tip":"申请金额"}' placeholder="请输申请金额" name="money" v-model="money" class="y_srk" required/>			
							</i>
						</li>
						<li>
							<em >城市：</em>
							<i>
								<select v-model="citytype" name="citytype" 	>
									<option value="常熟">常熟</option>
									<option value="张家港">张家港</option>
									<option value="南通市区">南通市区</option>
									<option value="海门">海门</option>
									<option value="启东">启东</option>
									<option value="如东">如东</option>
									<option value="盐城市区">盐城市区</option>
									<option value="射阳">射阳</option>
									<option value="阜宁">阜宁</option>
									<option value="东台">东台</option>
									<option value="扬州">扬州</option>
									<option value="金湖">金湖</option>
									<option value="泗洪">泗洪</option>
									<option value="东海">东海</option>
								</select>			
							</i>
						</li>
						<li>
							<em >手机号：</em>
							<i>
								<input type="tel" placeholder="请输手机号码" maxlength="15" name="phone" v-model="phone" class="y_srk" required/>		
							</i>
						</li>
						<li>
							<em >手机动态码：</em>
							<i>
								<input type="tel"   id="dycode" name="dycode" v-model="dycode" maxlength="6" class="y_srk_50"  placeholder="请输入动态码"/>
								<button id="anniu" class="inp_butt" v-sms="getDYcode()">获取动态码</button>
							</i>
						</li>
				</ul>
			</div>
			<div class="zz_cont">
				<input v-show="flg==1" type="submit"  class="button_1" name="Submit" value="提交" v-click="doSubmit()" >
				<input v-show="flg==0" type="submit"  class="button_1" name="Submit" v-disabled="true" value="已提交" v-click="doSubmit()" >
			</div>
		</div>
	</div>
	
</div>
<script>
LoanIntrduceCtrl.$inject = ["$scope","$remote","$targets","$filter","$context"];
function LoanIntrduceCtrl($scope,$remote,$targets,$filter,$context){
	$scope.init=function(){
		$scope.jobtype='A';
		$scope.loantype='C';
		$scope.citytype='常熟';
	}
	$scope.change=function(index){
		var el=$(".menu:eq("+index+")");
		el.css("display")=="none"?el.css("display","block"):el.css("display","none");
	}

	//确认按钮
	$scope.doResult=function(){
		if(!$scope.jobtype){
			NativeCall.toast("职业不能为空");
			return false;
		}
		if(!$scope.loantype){
			NativeCall.toast("贷款用途不能为空");
			return false;
		}
		var params =  {
				"NeedType":$scope.jobtype+$scope.loantype
		}
		//查询贷款产品类型
		$remote.post("/pmobile/LoansProductQuery.do",params,function(data){
			$scope.proList=data.List;
		});
	}
	$scope.invite=function(pro){
		$scope.flg=1;
		$scope.imgcode="";
		$("#anniu").text("获取动态码");
		$("#anniu").css("background-color","#0084ff");
		$context.setJson({"is":pro});
		$targets("content","#2");
		$scope.pro1=$context.getJson().is;
		$scope.proseq=$scope.pro1.Lseq;
	}
	$scope.doSubmit=function(){
		if(!$scope.ctmname){
			NativeCall.toast("请输入客户姓名");
			return false;
		}
		var reg=new RegExp(/^[\u4E00-\u9FA5A-Za-z]+$/);//u4e00-u9fa5---字母开头（包含汉字）
		if(!reg.test($scope.ctmname)){
			//alert("用途格式只能为汉字、数字或字母");
			NativeCall.toast("客户姓名只能为汉字、或字母");
			return false;
		}
		
		if(!$scope.money){
			NativeCall.toast("请输入申请金额");
			return false;
		}
		if(!$scope.phone){
			NativeCall.toast("请输入手机号");
			return false;
		}
		var phoneReg=new RegExp(/^1\d{10}$/);//手机号码校验
		if(!phoneReg.test($scope.phone)){
			NativeCall.toast("请输入正确的手机号码");
			return false;
		}
		
		if(!$scope.dycode){
			NativeCall.toast("请输入手机动态码");
			return false;
		}
		
		$remote.post("/pmobile/SmsCodeValidate.do",{"SmsCode":$scope.dycode,"SerialNo":$scope.msmNo},function(data){
			//获取完成交易token防重复码
			$remote.post("/pmobile/getNewTokenName.do",{},function(data){
				if(data._RejCode=="000000"){
					var _tokenName=data._tokenName;
					var params={
							"NAME":$scope.ctmname,
							"MOBILE":$scope.phone,
							"IDENTITYCODE":$scope.dycode,
							"LOANPURPOSE":$scope.loantype,
							"LOANAMOUNT":$scope.money,
							"JOBTYPE":$scope.jobtype,	
							"PROTYPE":$scope.proseq,
							"CITY":$scope.citytype,
							"_tokenName":_tokenName
					}
					//增加贷款申请
					$remote.post("/pmobile/LoanApplyAdd.do",params,function(data){
// 						NativeCall.finishWebWithMessage("您已完成申请，客户经理将很快与您联系，请保持手机畅通。");
						NativeCall.alert("您已完成申请，客户经理将很快与您联系，请保持手机畅通。");
						$scope.flg=0;
					});
				}
			});
		});
	
	}
	$scope.getDYcode=function(){
		var reg=new RegExp(/^1\d{10}$/);//手机号码校验
		if(!$scope.phone){
			NativeCall.toast("请输入手机号码");
			return false;
		}
		if(!reg.test($scope.phone)){
			NativeCall.toast("请输入正确的手机号码");
			return false;
		}
		//行内他人、行内本人、手机号
		$scope.businessName="我要贷款";
		var params={
				"BusinessName":$scope.businessName,
				"MobileNo":$scope.phone,
				"ServiceCode":"CUM000022"
		}
		//获取手机动态码
		$remote.post("/pmobile/GenTokenName.do",params,function(data){
			$scope.msmNo=data.SerialNo;
		});
	}
}
</script>