<div v-view-setup="CreditCardToActivCtrl" v-init="init()">
	<div class="bg_box" v-page v-transition="native">
		<div class="box_cont">
			<div class="zz_cont">
					<ul>
						<li>
							<em>信用卡卡号：</em>
							<i>
								{{credit}}
							</i>
						</li>
<!-- 						<li> -->
<!-- 							<em>证件类型：</em> -->
<!-- 							<i> -->
<!-- 								{{idCardType.name}} -->
<!-- 							</i> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<em>证件号码：</em> -->
<!-- 							<i> -->
<!-- 								<input type="text" placeholder="请输入证件号码" name="idCard" v-model="idCard" acformat class="y_srk" required maxlength=18/> -->
<!-- 							</i> -->
<!-- 						</li> -->
						<li v-show="flag==1">
							<em>CVV2：</em>
							<i>
								<input type="password" placeholder="请输入CVV2" name="cvv2" v-model="cvv2" ui-num='{"maxlength":3,"hasDot":false,"tip":"CVV2"}' class="y_srk" required maxlength=3/>
							</i>
						</li>
						<li v-show="flag==1" >
							<em>有效期：</em>
							<div style="padding-top:9px;vertical-align:middle;">
								<select style="height:100%;" v-model="data1" 
								v-change="gai()" name="data1" v-options="tl.month for tl in datalist1"></select>&nbsp;/
								<select style="height:100%" v-model="data2" 
								v-change="gai()" name="data2" v-options="tl.year for tl in datalist2"></select>
							</div>
							<i>
								<v-hide="true" input type="text" placeholder="月/年，如07/15" name="date" v-model="date" class="y_srk" required maxlength=5/>
							</i>
						</li>
						<li>
							<em>预留手机号：</em>
							<i>
								<input type="text" placeholder="请输入预留手机号" name="mobilePhone" v-model="mobilePhone" ui-num='{"maxlength":11,"hasDot":false,"tip":"预留手机号"}' class="y_srk" required maxlength=11/>
							</i>
						</li>
						<li>
							<em>家庭电话：</em>
							<i>
								<input type="text" placeholder="请输入家庭电话" name="homePhone" v-model="homePhone" class="y_srk" required maxlength=15/>
							</i>
						</li>
						<li>
							<em>手机动态码：</em>
							<i>
								<input type="tel" id="dycode" name="dycode" v-model="dycode" maxlength=6 class="y_srk_50" placeholder="请输入动态码"/>
								<button id="anniu" class="inp_butt" v-sms="getDYcode()">获取动态码</button>
							</i>
						</li>
					</ul>
			</div>
		    
		    <div class="zz_cont">
		     		<input type="submit"  class="button_1" name="Submit" v-disabled="!dycode" value="确认" v-click="toResult()">
		    </div>
		    <div class="zz_cont"><img src="images/ts.png" />
			    <font class="tishi">
					温馨提示</br>
				</font>
					&nbsp;&nbsp;成功申领、换新的粒金信用卡必须在激活后才能正常使用。</br>
				<div style="font-size:12px; line-height:16px; color:#929292;"> </div>
		   </div>
		</div>
	</div>
</div>
<script>
CreditCardToActivCtrl.$inject = ["$scope","$remote","$targets","$context","$timeout"];
function CreditCardToActivCtrl($scope,$remote,$targets,$context,$timeout){
	$scope.init=function(){
		$scope.datalist1=[
				{"month":"01"},{"month":"02"},{"month":"03"},{"month":"04"},{"month":"05"},{"month":"06"},
				{"month":"07"},{"month":"08"},{"month":"09"},{"month":"10"},{"month":"11"},{"month":"12"}
		];
		$scope.datalist2=[
				{"year":"15"},{"year":"16"},{"year":"17"},{"year":"18"},{"year":"19"},{"year":"20"},
				{"year":"21"},{"year":"22"},{"year":"23"},{"year":"24"},{"year":"25"},{"year":"26"},
				{"year":"27"},{"year":"28"},{"year":"29"},{"year":"30"},{"year":"31"},{"year":"32"}
		];
		$scope.data1=$scope.datalist1[0];
		$scope.data2=$scope.datalist2[0];
// 		$scope.idCardType={
// 				"name":"身份证",
// 				"value":"01"
// 		};
		$scope.credit=$context.getJson().CreditNO;
		//区分老卡和新卡。老卡包括：贷记卡、准贷记卡和公务卡，分别以'622462'、'625101'和'628272'开头
		if($scope.credit.substring(0,6)=="622462"||$scope.credit.substring(0,6)=="625101"||$scope.credit.substring(0,6)=="628272"){
			$scope.flag=0;//0-老卡，1-新卡
		}else{
			$scope.flag=1;//0-老卡，1-新卡
		}
	}
	$scope.gai=function(){
		$scope.date=$scope.data1.month+"/"+$scope.data2.year;
	}
	//倒计时的回调函数
	$scope.getDYcode=function(){
		var reg=new RegExp(/^1\d{10}$/);//手机号码校验
		if(!$scope.mobilePhone){
			NativeCall.toast("请输入手机号码");
			return false;
		}
		if(!reg.test($scope.mobilePhone)){
			NativeCall.toast("请输入正确的手机号码");
			return false;
		}
		//行内他人、行内本人、手机号
		$scope.businessName="信用卡激活";
		var params={
				"BusinessName":$scope.businessName,
				"MobileNo":$scope.mobilePhone,
				"ServiceCode":"CCM000002"
		}
		//获取手机动态码
		$remote.post("/pmobile/GenTokenName.do",params,function(data){
			$scope.msmNo=data.SerialNo;
		});
	}
	//激活
	$scope.doIt=function(_tokenName){
		//去掉有效日期中的"/"
		$scope.date=$scope.data1.month+"/"+$scope.data2.year;
		var data="";
		if($scope.date){
			data=$scope.date.substring(3,6)+$scope.date.substring(0,2);
		}
		var params={
				"CreditNo":$scope.credit,
				"telephone":$scope.homePhone,//家庭号码
				"mobileNo":$scope.mobilePhone,//手机号
// 				"idType":$scope.idCardType.value,
// 				"idNo":$scope.idCard,//身份证号码
				"flag":$scope.flag,//0-老卡，1-新卡
				"cvv2":$scope.cvv2,//cvv2，当flag=1为必输项
				"expire":data,//有效期，当flag=1为必输项
				"_tokenName":_tokenName
		};
		$remote.post("/pmobile/CreditCardToActivate.do",params,function(data){
			$scope.idCard = data.shenfenzheng;
			$scope.alert("信用卡激活成功！");
			$context.setJson({"MyCardStatus":0});//改变新增信用卡的核心状态为正常-0
			$context.setJson({"IDCardNO":$scope.idCard,"telephone":$scope.homePhone});
			$timeout(function(){
				$scope.goto("PPasswordSetting");
			},1000);
		});
	}
	$scope.toResult=function(){
// 		var reg=new RegExp(/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/);//身份证15/18位校验
		var reg2=new RegExp(/^1\d{10}$/);//手机号码校验
			//校验身份证
// 			if(!reg.test($scope.idCard)){
// 				NativeCall.toast("请输入有效身份证");
// 				return false;
// 			}
			if((!$scope.cvv2)&&$scope.flag==1){
				NativeCall.toast("请输入CVV2");
				return false;
			}
			if((!$scope.date)&&$scope.flag==1){
				NativeCall.toast("请输入有效期");
				return false;
			}
			if($scope.date&&$scope.flag==1){
				if($scope.date.substr(2,1)!="/"){
					NativeCall.toast("有效期格式有误");
					return false;
				}
			}
			if(!$scope.mobilePhone){
				NativeCall.toast("请输入手机号码");
				return false;
			}
			if(!reg2.test($scope.mobilePhone)){
				NativeCall.toast("请输入正确的手机号码");
				return false;
			}
			if((!$scope.homePhone)&&$scope.flag==0){
				NativeCall.toast("请输入家庭号码");
				return false;
			}
			if(!$scope.dycode){
				NativeCall.toast("请输入手机动态码");
				return false;
			}
			if(!$scope.msmNo){
				NativeCall.toast("请获取手机动态码");
				return false;
			}
			$remote.post("/pmobile/SmsCodeValidate.do",{"SmsCode":$scope.dycode,"SerialNo":$scope.msmNo},function(data){
				//获取完成交易token防重复码
				$remote.post("/pmobile/getNewTokenName.do",{},function(data){
					if(data._RejCode=="000000"){
						var _tokenName=data._tokenName;
						$scope.doIt(_tokenName);
					}
				});
			});
	}
}
</script>