@charset "utf-8";
/* CSS Document */

.background{ margin:0; padding:0; background-color:#f8f8f8; font-size:18px; font-family:"微软雅黑"; color:#666;} 
.content{ padding:2%;}
.content_1{ margin:0 auto; background-color:#FFFFFF; padding:0 1%;} 
.content_2{ margin:0 auto; background-color:#FFFFFF; width:99%; height:614px;}
.table1{ background:url(../images/anniubeijing.png); background-size:100% 100%; background-repeat:no-repeat; font-size:24px; color:#FFFFFF;}
.table2{ background:url(../images/anniubeijing2.png); background-size:100% 100%; background-repeat:no-repeat; font-size:20px; color:#FFFFFF;}
 
.content2{ background:url(../images/anniubeijing3.png); background-size:100% 100%; background-repeat:no-repeat; padding:5% 5% 0 5%}
.banner{background-size:100% 100%; background-repeat:no-repeat; height:130px; padding:2% 5%;}

.banner_1_left1{ width:10%; float:left; height:40px; text-align:center;}
.banner_1_left2{ width:40%; float:left; height:40px; text-align:left; color:#FFFFFF; font-size:14px; line-height:36px;}
.banner_1_right1{ width:25%; float:right; height:40px; text-align:left; color:#FFFFFF; font-size:22px; line-height:40px;}
.banner_1_right2{ width:10%; float:right; height:40px; text-align:center;}
.banner_2 { text-align:left; font-size:70px; color:#FFFFFF;line-height:70px;}
.content3{ margin:0 auto; background-color:#FFFFFF; width:95%; height:234px; padding:3.5% 0; margin-top:1%;margin-bottom:15px;}
.content3_1_left{ width:10%; float:left; height:30px; text-align:center;}
.content3_1_right{ width:90%; float:left; height:30px; text-align:left; font-size:14px; color:#333;}
.content3_2{ text-align:left; font-size:36px; height:100px; color:#F00; border-bottom:2px #f3f3f3 solid; padding-left:2%; line-height:40px;}
.content3_3_left{ width:49%; float:left; height:70px; border-bottom:2px #f3f3f3 solid; border-right:2px #f3f3f3 solid; line-height:50px; }
.content3_3_left_1{ text-align:left; height:30px; padding-left:4%;font-size:14px; line-height:30px;}
.content3_3_left_2{ text-align:left; height:30px; color:#333; padding-left:4%; font-size:1.2em;}
.content3_3_right{ width:51%; float:left; height:70px; border-bottom:2px #f3f3f3 solid; line-height:50px;}
.content3_3_right_1{ text-align:left; height:30px; padding-left:4%;font-size:14px; line-height:30px;}
.content3_3_right_2{ text-align:left; height:30px; color:#F30; font-size:24px; padding-left:4%;}
.content4 { margin:0 auto; width:95%; height:50px; margin-top:1%;}
.content4_left{ float:left; width:48%; height:35px;background:url(../images/anniubeijing4.png); background-size:100% 100%; background-repeat:no-repeat; font-size:1.3em; color:#FFFFFF; text-align:center; margin-right:1%; text-align:center; line-height:35px;}
.content4_right{ float:left; width:49%; height:35px;background:url(../images/anniubeijing4.png); background-size:100% 100%; background-repeat:no-repeat; font-size:1.3em; color:#FFFFFF; text-align:center; text-align:center; line-height:35px;}
.content5{ margin:0 auto; width:97%; padding:0.5%; margin-top:1%; background-color:#FFFFFF; color:#333;font-size:16px;}
.content6{ margin:0 auto; width:94%; padding:1%; background-color:#FFFFFF; height:320px; margin-top:2%;}
.content6_1{ height:50px; border-bottom:2px #F5F5F5 solid;}
.content6_1_left{ height:50px; width:25%; float:left; text-align:right; line-height:50px;}
.content6_1_middle{ height:50px; width:65%; float:left; text-align:left; line-height:50px;}
.content6_1_right{ height:50px; width:10%; float:left; text-align:center;}
.content6_2{ height:50px; padding:1%; background:url(../images/anniubeijing.png); background-size:100% 100%; background-repeat:no-repeat; font-size:24px; color:#FFFFFF; margin-top:1%; text-align:center; line-height:50px;}
.content6_3{ height:45px; margin-top:1%; text-align:center; line-height:45px;}
.content6_3_left { height:45px; width:33%; float:left; background:url(../images/anniubeijing2.png); background-size:100% 100%; background-repeat:no-repeat; font-size:20px; color:#FFFFFF;}
.content6_3_middle { height:45px; margin-left:0.5%; width:33%; float:left; float:left; background:url(../images/anniubeijing2.png); background-size:100% 100%; background-repeat:no-repeat; font-size:20px; color:#FFFFFF;}
.content6_3_right { height:45px; margin-left:0.5%; width:33%; float:left; float:left; background:url(../images/anniubeijing2.png); background-size:100% 100%; background-repeat:no-repeat; font-size:20px; color:#FFFFFF;}

.table3{ margin:0 auto; background-color:#FFFFFF; width:98%; padding:2%; margin-top:1%; padding-left:5%;} 
.table4{ margin:0 auto; background-color:#FFFFFF; width:98%;} 
.table5{ margin:0 auto; width:98%;}
.table5_icon{ background:url(../images/anniubeijing4.png); background-size:100% 100%; background-repeat:no-repeat; font-size:20px; color:#FFFFFF; padding:2.5% 0;}
.table6{ margin:0 auto; background-color:#FFFFFF; width:98%; margin-top:1%; padding-left:5%; padding-top:2%;}

.table7{ margin:0 auto; background-color:#FFFFFF; width:96%; margin-top:4%; border:2px #DCDCDC solid; height:130px;}
.table7_left{ width:35%; float:left; text-align:center; height:130px;}
.table7_middle{ width:57%; float:left; text-align:left;}
.table7_middle_1{ font-size:14px; height:70px; line-height:80px;}
.table7_middle_2{ font-size:20px; color:#000000; height:70px; }
.table7_right{ width:8%; text-align:center; font-size:20px; color:#000000; float:left; height:130px;}

.table8{ margin:0 auto; background-color:#FFFFFF; width:70%; margin-top:10%; vertical-align:middle;}
.table8_1{ background:url(../images/beijing_1.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:16px; padding:2.5% 0; padding-left:18%; text-align:left;}
.table8_2{ background:url(../images/beijing_2.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:28px; padding:5% 0; text-align:center;}
.table8_3{ background:url(../images/beijing_3.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:16px;
padding:4% 0; text-align:center;}
.table8_4{ background:url(../images/beijing_4.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:16px; padding:2.5% 0; padding-left:18%; text-align:left;}
.table8_5{ background:url(../images/beijing_5.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:28px; padding:5% 0; text-align:center;}
.table8_6{ background:url(../images/beijing_6.png); background-size:100% 100%; background-repeat:no-repeat; color:#000000; font-size:16px;
padding:4% 0; text-align:center;}



.bbox{ width:97%; padding:0 1%; height:574px; background-color:#FFFFFF; margin:0 auto;}
.box{height:70px; border-bottom:2px #F5F5F5 solid;}
.box_left{ width:20%; float:left; height:70px; text-align:center;}
.box_middle{ width:70%; float:left; height:70px; text-align:left; line-height:75px;}
.box_right{ width:10%; float:left; height:70px; text-align:center;}