@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
html{ background:#f3f3f3;}
body{margin:0px; padding:0px}
img{border:0;}  ul,li{list-style:none;}
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; }
a img, iframe { border: none; }
input, img{ vertical-align:middle}
div,ul,li,dl,dt,dd,table,td{-webkit-tap-highlight-color:rgba(0,0,0,0);font:12px/20px "微软雅黑";color:#333; text-decoration:none;font-style: normal;margin:0}
form,ul,li,dl,dt,dd,table,input,div{-webkit-tap-highlight-color:rgba(0,0,0,0);font-family: "微软雅黑";font-weight: normal;color: #666;font-style: normal;margin:0}
i, cite, em, var, address, dfn,  {font-style: normal;}
select {margin:0;padding:0;list-style:none}
a:link{ color:#5c5c5c;text-decoration:none; }
a:hover{ color:#bf0707;text-decoration:none; }
.colff6{ color:#ff6000}
/*下拉框  圆角  输入框  方勾 */
.select {position: absolute;right:5px;top: 14px;width:8%}
.select img {width:5%}
.select1 {position: absolute;right:5px;top: 12px;width:8%;}
.select1 img {width:5%}
.select_width {width:100%;line-height:30px; padding-right:5px;float:left;position:relative;border-bottom:#ccc 1px dotted}
.selected{ width:100%; margin:0 auto; padding:0px 0 5px 10px; background:#f3f3f3;}
.selected span img{ width:30%;}
.radio_cont{ width:100%; float:left; height:30px; line-height:30px; margin:10px 0px 0px 0px;}
.radio_cont span.radio{ width:20%; float:left; padding-left:10%;}
.radio_cont1{ width:100%; float:left; height:35px; line-height:35px;border-bottom:1px dashed #fff;font-size:1.2em;color:#fff;padding-left:5px;}
.radio_cont1 span.radio{ width:auto;overflow:hidden; float:left; padding-right:10px;}
.radio_cont2{ width:100%; float:left; height:35px; line-height:35px;border-bottom:1px dashed #fff;padding-top:4px}
.radio_cont2 span.radio{ width:auto;overflow:hidden; float:left; padding-right:10px;padding-left:5px}
input.y_srk {  padding-right:2%;width:100%;height:35px; border:none; font-size:12px;color:#666; position:absolute;top:20px; left:0px;}
input.y_srk_bce8{padding-right:2%;width:100%;height:35px; border:none; font-size:12px;color:#bbbbbb; position:absolute;top:20px; left:0px; background:#e8f3f6;}
input.y_srk_50 {  padding-right:2%;width:50%;height:35px; border:none; font-size:12px;color:#bbbbbb; position:absolute;top:20px; left:0px;}
input.inp_butt { margin-left:20px;width:40%;height:35px; border:none; font-size:12px;color:#fff; margin-top:20px; background:#0084ff; border-radius:3px; cursor:pointer; float:right;}
.checkbox{ float:left; height:20px; width:20px; margin-top:25px; margin-left:10px;}
.textarea{ width:100%; height:100px; background:#e8f3f6; border:none; float:left;}
.creditcard_checkbox{margin-top:-2px;width:15px}
.bafff{ width:100%; float:left; background:#fff; margin-top:3%; }
/*信用卡*/
.creditcard {width:95%; background:#0086cc;margin:0 auto;overflow:hidden;padding:10px 0 0 0;color:#fff;}
.creditcard_box{width:95%; margin:0 auto;background:#fff; overflow:hidden;margin-top:10px;}
.creditcard_box1{width:95%; margin:0 auto;background:#fff; overflow:hidden;margin-top:10px;padding-bottom:10px}
/*转账汇款*/
.bg_box{-webkit-tap-highlight-color:rgba(0,0,0,0);width:95%; margin:0 auto;background:#fff; overflow:hidden; padding-bottom:10px;margin-top:10px}
.box_cont{-webkit-tap-highlight-color:rgba(0,0,0,0); width:100%; margin:auto; background:#fff; overflow:hidden;color:#666; }
.zz_cont{ width:95%; margin:0 auto; margin-top:3%;color:#666;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.zz_cont ul{ width:95%; margin:auto;}
.zz_cont ul li{ width:100%; float:left; height:auto; overflow:hidden; font-size:1em; border-bottom:1px solid #eeeeee;}
.zz_cont ul li.ft1{font-size:1.3em;color:#eee;border-bottom:2px solid #cccccc;}
.zz_cont ul li em {display:block;float:left;font-style: normal; width:35%; text-align:right;color:#666666; line-height:38px; }
.zz_cont ul li  i {display:block;float:left;line-height:38px; font-style: normal;width:65%; text-align:left;color:#666666; position: relative; font-size:1em;  }
.zz_cont ul li  i select{ width:100%;border:none; font-size:0.9em;color:#666666;background:none}
.zz_cont ul li  i select.w1{ width:auto;border:none; font-size:0.9em;color:#666666;background:none}
.zz_cont ul li  i.colff6{ color:#ff6000}
.zz_cont ul li  i span img{ position:absolute;top:20px; right:1%; cursor:pointer; }

.zz_cont h5{ font-size:14px; color:#666666;text-decoration:none; line-height:50px; text-indent:2em; float:left;}
.jxzz_cont{width:100%;float:left; margin-bottom:30px; height:150px;  }
.jxzz_cont li{ width:16%;float:left;text-align:center; color:#030303; font-size:12px; padding-left:5%;padding-right:5%;  }
.jxzz_cont li img{ width:100%;}
.zz_cont span{ text-align:center; width:100%;line-height:50px; float:left; margin-bottom:30px;}

.showborder{width:95%; margin:0 auto; margin-top:3%;color:#666;
}
.showborder ul{border:1px solid #ccc;width:90%; margin:0 auto; padding:2%;  color:#666;overflow:hidden;
	border-radius:5px;}
.showborder ul li{ width:100%; float:left;  line-height:25px;}
.showborder ul li em {display:block;float:left;font-style: normal; width:35%; text-align:left;color:#565656; font-weight:bold; font-size:16px; }
.showborder ul li  i {display:block;float:left; font-style: normal;width:65%; text-align:right;color:#666666; position: relative;  }
.showborder ul li  i select{ width:100%;height:35px; line-height:35px; border:none; font-size:12px;color:#666666; margin-top:20px;;}
.showborder ul li  i.colff6{ color:#ff6000}
.showborder ul li  i span img{ position:absolute;top:20px; right:1%; cursor:pointer; }
.showborder1{width:95%; margin:0 auto; margin-top:3%;color:#666;background:#fff;border-bottom:1px solid #ccc;
}
.showborder1 ul{width:90%; margin:0 auto; padding:2%;  color:#666;overflow:hidden;}
.showborder1 ul li{ width:100%; float:left;  line-height:25px;}
.showborder1 ul li em {display:block;float:left;font-style: normal; width:35%; text-align:left;color:#565656; font-weight:bold; font-size:16px; }
.showborder1 ul li  i {display:block;float:left; font-style: normal;width:65%; text-align:right;color:#666666; position: relative;  }
.showborder1 ul li  i select{ width:100%;height:35px; line-height:35px; border:none; font-size:12px;color:#666666; margin-top:20px;;}
.showborder1 ul li  i.colff6{ color:#ff6000}
.showborder1 ul li  i span img{ position:absolute;top:20px; right:1%; cursor:pointer; }
.mingce{width:95%; margin:0 auto; margin-top:3%;color:#666;background:#fff;padding-bottom:10px;
}
.mingce ul{width:90%; margin:0 auto; padding:2%;  color:#666;overflow:hidden;}
.mingce ul li{ width:100%; float:left;  line-height:25px;}
.mingce ul li.f2f2f2 {color:#969696; font-size:0.8em;line-height:16px;}
.mingce ul li em {display:block;float:left;font-style: normal; width:35%; text-align:left;color:#565656; font-size:1em; }
.mingce ul li em.f666 {color:#666; font-size:1.1em; font-weight:bold;border-bottom:1px solid #ccc}
.mingce ul li.f18903 {color:#f18903; font-size:1.4em;padding-top:10px;}
.mingce ul li  i {display:block;float:left; font-style: normal;width:65%; text-align:right;color:#666666; position: relative;  }
.mingce ul li  i.f666 {color:#666; font-size:1em;border-bottom:1px solid #ccc}
.mingce ul li  i select{ width:100%;height:35px; line-height:35px; border:none; font-size:12px;color:#666666; margin-top:20px;;}
.mingce ul li  i span img{ position:absolute;top:20px; right:1%; cursor:pointer; }
.khh{width:95%; margin:0 auto; margin-top:3%;color:#666;background:#fff;border-bottom:1px solid #ccc;
}
.khh ul{width:90%; margin:0 auto; padding:2%;  color:#666;overflow:hidden;}
.khh ul li{ width:100%; float:left;  line-height:25px;}
.khh ul li.f2f2f2 {color:#969696; font-size:0.8em;line-height:16px;}
.khh ul li em {display:block;float:left;font-style: normal; width:35%; text-align:left;color:#565656; font-size:1em; }
.khh ul li em.f666 {color:#666; font-size:1.1em; font-weight:bold;border-bottom:1px solid #ccc}
.khh ul li.f18903 {color:#f18903; font-size:1.4em;padding-top:10px;}
.khh ul li  i {display:block;float:left; font-style: normal;width:65%; text-align:right;color:#666666; position: relative;  }
.khh ul li  i.f666 {color:#666; font-size:1em;border-bottom:1px solid #ccc}
.khh ul li  i select{ width:100%;height:35px; line-height:35px; border:none; font-size:12px;color:#666666; margin-top:20px;;}
.khh ul li  i span img{ position:absolute;top:20px; right:1%; cursor:pointer; }
.prompt_arr{ width:24px; height:12px; position:absolute;left:40%;top:-12px;}
.tx_cont span{line-height:30px;text-indent:4em; color:#ff6000; padding-left:10px; }
.cc_img{ width:150px; color:#0066ad; font-size:26px; text-align:center; line-height:55px; margin:auto; margin-top:0px;}
.j-heighta {height:10px; width:100%; margin:0 auto;background:#f3f3f3}
.j-heightb {height:10px; width:100%;float:left;background:#f3f3f3}
/*账户总览*/
.bcfff{ width:100%;margin:0 auto}
.bcfff1{width:100%;float:left}

.mt_18{ margin-top:18px;}
.font_title{ line-height:68px; border-bottom:1px solid #eeeeee; width:95%; margin:auto; color:#666666; font-size:14px;}
.zczl_cont{ position:relative;padding-bottom:8px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.zczl_cont ul{ width:95%; margin:auto;padding-top:6px;}
.zczl_cont ul li{ width:100%; float:left;}
.zczl_cont ul li em {display:block;float:left;font-style: normal;  text-align:right; padding-left:3%;color:#666666;font-size:1.2em; }
.zczl_cont ul li  i {display:block;float:left; font-style: normal;text-align:left; padding-right:3%;color:#666666; position: relative;font-size:1.1em;}
.background1 {border:1px #eaeaea dotted}
.background1 img {width:10%;}
.set_img{ position:absolute; top:8px; right:0; cursor:pointer;z-index:5;}
.set_img img{width:60%}
.delete{width:12%; position:absolute;margin-top:5px;right:0;cursor:pointer;z-index:10}
.delete img {width:46%;}
.edit{width:10%; position:absolute;margin-top:5px;right:12%;cursor:pointer;z-index:10}
.edit img {width:50%;}
.gzk1{overflow:hidden;position:absolute;rcursor:pointer;}
.gzk1 img {width:15%;}
.font_title font.gzk{ padding-left:20px;}
.font_title font.gzk img{ padding:0px 15px 0px 10px; cursor:pointer;}

.xiangq_img{ position:absolute; right:10px; cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.xiangq_img img{width:30%;margin-top:70%;}
.xiangq_img1{ position:absolute; right:0; cursor:pointer;}
.xiangq_img1 img{width:30%;margin-top:15px;}
.xiangq_img1{ position:absolute; right:0; cursor:pointer;}
.xiangq_img1 img{width:30%;margin-top:15px;}
.set_ceng{ position:absolute; top:15%; right:13px; cursor:pointer; padding:5px 10px 5px 10px; line-height:24px; color:#fff;overflow:hidden; z-index:10; background:#aad957; font-size:14px;}
.set_ceng a {color:#fff;}
.set_ceng a:hover {color:#fff;}
.button_ceng{width:24%; position:absolute; margin-top:33px; left:10%; text-align:center; cursor:pointer; color:#fff;overflow:hidden; z-index:10; background:#ffb14d; font-size:14px;}
.button_ceng span{width:100%;border-bottom:#fff 1px dashed; line-height:26px;float:left;font-size:12px;}
.button_ceng span a{color:#fff;font-size:12px;}
.button_ceng span a:hover{color:#fff;font-size:12px;}
.button_ceng1{width:24%; position:absolute; margin-top:33px; right:10%; text-align:center; cursor:pointer; color:#fff;overflow:hidden; z-index:10; background:#ffb14d; font-size:14px;}
.button_ceng1 span{width:100%;border-bottom:#fff 1px dashed; line-height:26px;float:left;font-size:12px;}
.button_ceng1 span a{color:#fff;font-size:12px;}
.button_ceng1 span a:hover{color:#fff;font-size:12px;}
.size20 {font-size:1.6em;}
.size18 {font-size:1.2em;}
.size2 {font-size:1.4em;color:#000;}
.size12 {font-size:0.6em;color:#ffbe6a;}
.dh_img {float:right;padding-top:12px;padding-right:10px}
/*按钮*/
.button{
background-color: #FFFFFF;
border: 1px solid #f18903;
color: #f18903;
font-size: 14px;
border-radius: 4px;
line-height: 23px;
width: 60px;
height: 24px;
text-align: center;
margin-left: 40px;
}

.button_1{-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%; height:35px;line-height:35px;font-size:1.3em;background:#f18903; margin:0 auto; color:#fff;  cursor:pointer; margin-top:10px;  margin-bottom:10px; border:none; border-radius:4px;-webkit-appearance:none}
.button_1 a{ color:#fff;display:block;}
.button_1 a:hover{ color:#fff;display:block;}
.button_2{width:40%; height:30px;line-height:30px;font-size:1.3em;background:#0084ff;float:right; color:#fff;  cursor:pointer; margin-top:10px;  margin-bottom:10px; border:none; border-radius:4px;-webkit-appearance:none}
.button_5{width:80%; height:30px;line-height:30px;font-size:1.2em;background:#ff853b;margin:0 auto; color:#fff;  cursor:pointer; margin-left:10%;  margin-bottom:10px; border:none; border-radius:4px;-webkit-appearance:none}
.button_6{width:48%; height:35px;line-height:35px;font-size:1.3em;background:#f18903; margin:0 auto; color:#fff;  cursor:pointer; margin-top:10px;  margin-bottom:10px; border:none; border-radius:4px;-webkit-appearance:none}
.button_bj{overflow:hidden;padding:0 8px 0 8px;height:23px;line-height:23px;font-size:1em;background:#ffc57b; float:right; color:#a8722c;  cursor:pointer; margin-top:8px; border:none; border-radius:2px;-webkit-appearance:none}
/*我要贷款按钮*/
.button_loan{-webkit-tap-highlight-color:rgba(0,0,0,0);width:100%; height:35px;line-height:35px;font-size:1.3em;background:#0084ff; margin:0 auto; color:#fff;  cursor:pointer; margin-top:10px;  margin-bottom:10px; border:none; border-radius:4px;-webkit-appearance:none}
.button_loan a{ color:#fff;display:block;}
.button_loan a:hover{ color:#fff;display:block;}
.zczl_cont div.button_4{-webkit-tap-highlight-color:rgba(0,0,0,0);float:left; width:90%;margin-left:5%; margin-top:10px;text-align:center;border-top:1px dotted #eeeeee;}
.zczl_cont div.button_4 li{ width:20%; float:left; height:70px; line-height:70px; background:#f18903; color:#fff; text-align:center; border-radius:3px; margin-left:3%; margin-right:2%;}
.zczl_cont div.button_4 li a{ color:#fff; display:block;}
.zczl_cont div.button_4 li a:hover{color:#fff;display:block;}

/*帮助中心*/
.y_top { background:#036; text-align:left; padding:2% 1%; width:98%; color:#fff; font-size:20px; text-align:center; overflow:hidden; font-family:"微软雅黑";}
.y_top span {float:right; width:5%; display:block; overflow:hidden;}
.y_top span.y_jyz { float:left; }
.y_top1 { width:100%; position:relative;  box-shadow: 0px 5px 5px #aaa;}
.y_top2 { text-align:left; width:100%; color:#fff; text-align:center; overflow:hidden;}
.y_middle {  width:99%; padding:0.5%;}
.y_middle1 { background:#FFFFFF;width:98%; text-align:center; color:#999; font-weight:bolder; padding:4% 1%; font-size:16px;}
.y_middle2 { background:#F5F5F5;width:95%; text-align:left; color:#999; font-weight:bolder; padding:2% 1%; font-size:16px; line-height:40px; margin:auto;}
.y_botttom { width:100%} 
.erji_content{ margin:0 auto; background-color:#FFFFFF; width:95%; padding:0 2%;} 

/*理财购买*/
.buy_title{ width:100%; border-radius:5px; background:#f8f8f8; height:75px; border:1px solid #cccccc; margin-top:20px;}
.buy_title li{ float:left; width:33%; line-height:75px; font-size:16px; text-align:center; color:#666;}
.buy_title li a{background:#f8f8f8; display:block;}
.buy_title li a:hover{background:#d1dee6; display:block;color:#666;}
.bor_1{ border:1px solid #cccccc;}
.lic_buy{ width:100%;margin:0 auto;background:#fff; margin-bottom:10px;overflow:hidden;}
.lic_buy h3{ width:95%;border-bottom:1px solid #eeeeee; margin:auto; color:#666666; font-size:14px; font-weight:bold;padding:10px 0 10px 0;overflow:hidden;}
.lic_buy h3 span{ width:33.3%; float:left;color:#666666; }
.lic_buy h3 span.wauto{width:auto; overflow:hidden;padding-right:3%; float:left;color:#666666; }
.lic_buy h3 span.floatr{width:auto; overflow:hidden;float:right;color:#666666; }
.earn{ width:94%; margin:auto; overflow:hidden}
.earn.ft2{font-size:1.3em;color:#eee;border-bottom:1px solid #cccccc;}
.earn span{ width:33%; float:left; font-size:14px; color:#666; line-height:30px; margin-top:30px;}
/* 意见反馈*/
.bor_bott ul li{ border-bottom:none;height:60px;  line-height:60px; float:left }
.bor_bott ul li em{ text-align:left;}
.bor_bott ul li i img{ padding-right:5px; padding-left:1px;}
.bor_bott ul li em.w_100{ width:100%;}
.tishi {color:#f18903;}
.tips {width:95%; margin:0 auto;line-height:35px;color:#f18903;font-size:12px;text-align:center}
.bcfff2{ width:95%;margin:0 auto;height:auto;overflow:hidden;margin-bottom:10px}
/* 字号*/
.fontsize1{font-size:3.6em;}
.fontsize2{font-size:1.6em;}
.fontsize3{font-size:1.4em;}
.fontsize4{font-size:1.2em;}
.fontsize5{font-size:1em;}
.f98973 {color:#f98973;}
.lineheight1{line-height:30px}
.lineheight2{line-height:20px}

.jindu {width:100%;margin:0 auto;overflow:hidden;padding-top:20px;}
.jindu_top {width:100%;margin:0 auto;overflow:hidden;padding-bottom:10px;}
.jindu_top .w25 {width:25%;float:left; text-align:center;line-height:20px;font-size:xx-small;}
.jindu_center {width:100%;margin:0 auto;overflow:hidden}
.jindu_center .w25 {width:25%;float:left; text-align:center;height:8px;}
.jindu_center .w25 img {position:absolute;z-index:10; margin-left:-4%;margin-top:-8px;}
.jindu_center .w25.c4242ff {height:5px;width:25%;float:left; text-align:center;line-height:20px;background:#0084ff;}
.jindu_center .w25.cccccc {height:5px;width:25%;float:left; text-align:center;line-height:20px;background:#cccccc;}
.jindu_bottom {width:100%;margin:0 auto;overflow:hidden;padding-top:12px;}
.jindu_bottom .w25 {width:25%;float:left; text-align:center;line-height:20px;font-size:xx-small;}
.yhj {width:96%; margin:0 auto;overflow:hidden;background:url(../images/yhj.png) no-repeat left top;background-size:100%;margin-bottom:10px}
.yhj_top {width:95%; margin:0 auto;height:auto;overflow:hidden;}
.yhj_top .left {width:auto;float:left;height:auto;overflow:hidden;padding:30px 0 0 0;line-height:30px}
.yhj_top .right {width:auto;float:right;height:auto;overflow:hidden;line-height:24px;text-align:center;padding:15px 0 0 0;font-size:1em}
.yhj_bottom {width:95%; margin:0 auto;height:30px;line-height:30px;font-size:1em;;background:url(../images/border.png) repeat-x top;}
.fleft{float:left}
.fright{float:right}
.award {width:91%; margin:0 auto;height:auto;overflow:hidden;border:#dadada 1px solid; background:#fff;margin-top:10px;padding:2%;margin-bottom:10px}
.award .left {width:35%; float:left;}
.award .left img {width:100%;}
.award .right {width:61%; float:right;overflow:hidden}
.award_img {position:absolute; z-index:10;margin-top:-2%;right:2%;text-align:right}
.award_img img {width:80%}

.jiaofei {width:95%; margin:0 auto;height:35px; border:#eee 1px solid;background:#fff;margin-top:10px;}
.jiaofei li {width:32%; height:35px; line-height:30px; font-size:1em;text-align:center;float:left}
.jiaofei li.borderright {border-right:2px #eee solid}
.jiaofei li img {width:18%;}
/*竖时间轴*/
.timeline {width:26px; height:190px; float:left; position:absolute; z-index:10;left:5%;}
.timeline1 {width:5px; height:195px; float:left; background:#ccc; margin-left:20px;}
.timemain {position:absolute; z-index:10}
.timeline_top {width:5px; background:#0084ff;height:30px; margin-left:20px; float:left;}
.timeline_top1 {width:5px; background:#0084ff; height:38px; margin-left:20px; float:left;}
.timeline_img {width:26px;float:left; position:absolute; z-index:10; margin-top:10px; margin-left:12px;}
.timeline_img2 {width:26px;float:left; position:absolute; z-index:10; margin-top:48px; margin-left:12px;}
.timeline_img3 {width:26px;float:left; position:absolute; z-index:10; margin-top:86px; margin-left:12px;}
.timeline_img4 {width:26px;float:left; position:absolute; z-index:10; margin-top:124px; margin-left:12px;}
.timeline_img5 {width:26px;float:left; position:absolute; z-index:10; margin-top:162px; margin-left:12px;}
.timeline_bottom {width:5px; background:#ccc; height:48px; margin-left:20px; float:left;}
