/*
 * UI-extra
 */
/*!
 * ui-calendar22 for Bootstrap
 * 
 */
.calendar22 {
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.calendar2-inline {
  width: 220px;
}
.calendar2.calendar2-rtl {
  direction: rtl;
}
.calendar2.calendar2-rtl table tr td span {
  float: right;
}
.calendar2-dropdown {
  top: 0;
  left: 0;
}
.calendar2-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.calendar2-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.calendar2-dropdown-left {
  top: 0;
  left: 0;
}
.calendar2-dropdown-left:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  right: 6px;
}
.calendar2-dropdown-left:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  right: 7px;
}
.calendar2 > div {
  display: none;
}
.calendar2.days div.calendar2-days {
  display: block;
}
.calendar2.months div.calendar2-months {
  display: block;
}
.calendar2.years div.calendar2-years {
  display: block;
}
.calendar2 table {
  margin: 0;
}
.calendar2 td,
.calendar2 th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.table-striped .calendar2 table tr td,
.table-striped .calendar2 table tr th {
  background-color: transparent;
}
.calendar2 table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.calendar2 table tr td.old,
.calendar2 table tr td.new {
  color: #999999;
}
.calendar2 table tr td.disabled,
.calendar2 table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.calendar2 table tr td.today,
.calendar2 table tr td.today:hover,
.calendar2 table tr td.today.disabled,
.calendar2 table tr td.today.disabled:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fde19a;
  background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd49a', endColorstr='#fffdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #fdf59a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.calendar2 table tr td.today:hover,
.calendar2 table tr td.today:hover:hover,
.calendar2 table tr td.today.disabled:hover,
.calendar2 table tr td.today.disabled:hover:hover,
.calendar2 table tr td.today:active,
.calendar2 table tr td.today:hover:active,
.calendar2 table tr td.today.disabled:active,
.calendar2 table tr td.today.disabled:hover:active,
.calendar2 table tr td.today.active,
.calendar2 table tr td.today:hover.active,
.calendar2 table tr td.today.disabled.active,
.calendar2 table tr td.today.disabled:hover.active,
.calendar2 table tr td.today.disabled,
.calendar2 table tr td.today:hover.disabled,
.calendar2 table tr td.today.disabled.disabled,
.calendar2 table tr td.today.disabled:hover.disabled,
.calendar2 table tr td.today[disabled],
.calendar2 table tr td.today:hover[disabled],
.calendar2 table tr td.today.disabled[disabled],
.calendar2 table tr td.today.disabled:hover[disabled] {
  color: #ffffff;
  background-color: #fdf59a;
  *background-color: #fcf282;
}
.calendar2 table tr td.today:active,
.calendar2 table tr td.today:hover:active,
.calendar2 table tr td.today.disabled:active,
.calendar2 table tr td.today.disabled:hover:active,
.calendar2 table tr td.today.active,
.calendar2 table tr td.today:hover.active,
.calendar2 table tr td.today.disabled.active,
.calendar2 table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.calendar2 table tr td.active,
.calendar2 table tr td.active:hover,
.calendar2 table tr td.active.disabled,
.calendar2 table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.calendar2 table tr td.active:hover,
.calendar2 table tr td.active:hover:hover,
.calendar2 table tr td.active.disabled:hover,
.calendar2 table tr td.active.disabled:hover:hover,
.calendar2 table tr td.active:active,
.calendar2 table tr td.active:hover:active,
.calendar2 table tr td.active.disabled:active,
.calendar2 table tr td.active.disabled:hover:active,
.calendar2 table tr td.active.active,
.calendar2 table tr td.active:hover.active,
.calendar2 table tr td.active.disabled.active,
.calendar2 table tr td.active.disabled:hover.active,
.calendar2 table tr td.active.disabled,
.calendar2 table tr td.active:hover.disabled,
.calendar2 table tr td.active.disabled.disabled,
.calendar2 table tr td.active.disabled:hover.disabled,
.calendar2 table tr td.active[disabled],
.calendar2 table tr td.active:hover[disabled],
.calendar2 table tr td.active.disabled[disabled],
.calendar2 table tr td.active.disabled:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.calendar2 table tr td.active:active,
.calendar2 table tr td.active:hover:active,
.calendar2 table tr td.active.disabled:active,
.calendar2 table tr td.active.disabled:hover:active,
.calendar2 table tr td.active.active,
.calendar2 table tr td.active:hover.active,
.calendar2 table tr td.active.disabled.active,
.calendar2 table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.calendar2 table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.calendar2 table tr td span:hover {
  background: #eeeeee;
}
.calendar2 table tr td span.disabled,
.calendar2 table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.calendar2 table tr td span.active,
.calendar2 table tr td span.active:hover,
.calendar2 table tr td span.active.disabled,
.calendar2 table tr td span.active.disabled:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.calendar2 table tr td span.active:hover,
.calendar2 table tr td span.active:hover:hover,
.calendar2 table tr td span.active.disabled:hover,
.calendar2 table tr td span.active.disabled:hover:hover,
.calendar2 table tr td span.active:active,
.calendar2 table tr td span.active:hover:active,
.calendar2 table tr td span.active.disabled:active,
.calendar2 table tr td span.active.disabled:hover:active,
.calendar2 table tr td span.active.active,
.calendar2 table tr td span.active:hover.active,
.calendar2 table tr td span.active.disabled.active,
.calendar2 table tr td span.active.disabled:hover.active,
.calendar2 table tr td span.active.disabled,
.calendar2 table tr td span.active:hover.disabled,
.calendar2 table tr td span.active.disabled.disabled,
.calendar2 table tr td span.active.disabled:hover.disabled,
.calendar2 table tr td span.active[disabled],
.calendar2 table tr td span.active:hover[disabled],
.calendar2 table tr td span.active.disabled[disabled],
.calendar2 table tr td span.active.disabled:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.calendar2 table tr td span.active:active,
.calendar2 table tr td span.active:hover:active,
.calendar2 table tr td span.active.disabled:active,
.calendar2 table tr td span.active.disabled:hover:active,
.calendar2 table tr td span.active.active,
.calendar2 table tr td span.active:hover.active,
.calendar2 table tr td span.active.disabled.active,
.calendar2 table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.calendar2 table tr td span.old {
  color: #999999;
}
.calendar2 th.switch {
  width: 145px;
}
.calendar2 thead tr:first-child th,
.calendar2 tfoot tr:first-child th {
  cursor: pointer;
}
.calendar2 thead tr:first-child th:hover,
.calendar2 tfoot tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
/**设置点击排序时候的图标**/
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.ui-state-disabled {
  cursor: default !important;
}
/**“|”竖线设置**/
.ui-upright-line {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
/**上一页图标设置**/
.ui-icon-seek-prev {
  background-position: -48px -160px;
}
/**首页图标设置**/
.ui-icon-seek-first {
  background-position: -80px -160px;
}
/**最后一页图标设置**/
.ui-icon-seek-end {
  background-position: -64px -160px;
}
/**下一页图标**/
.ui-icon-seek-next {
  background-position: -32px -160px;
}
/**设置分页用的图标**/
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(img/ui-grid-icons.png);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
/**悬停变色**/
.table-striped tbody tr:hover td,
.table-striped tbody tr:hover th {
  background-color: #F0F0F0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/*
 * dropdowns  下拉列表
 */
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.calendar2.dropdown-menu {
  position: absolute;
  *position: static;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown .dropdown-menu .nav-header {
  padding-left: 20px;
  padding-right: 20px;
}
.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}









@charset "utf-8";
/*日历*/
.Calendar {
	font-family:Verdana;
	font-size:12px;
	background:#fff;
	text-align:center;
	height:208px;
	padding:10px;
	line-height:1.5em;
}
.Calendar .heard_calendar{font-size:14px}
.Calendar a{
	color:#d95334;
	font-weight:bold
}

.Calendar table{
	width:100%; 
	border:0;
}

.Calendar table thead{color:#acacac;}

.Calendar table td {
	font-size: 14px;
	padding:5px;
}
#idCalendarPre{
	cursor:pointer;
	float:left;
	padding-right:5px;
}
#idCalendarNext{
	cursor:pointer;
	float:right;
	padding-right:5px;
}
#idCalendar td.onToday {
	font-weight:bold;
	color:#fff;
	background:#e45837
}
#idCalendar td.onToday a{color:#fff}
#idCalendar td.onSelect {
	font-weight:bold;
}

/* 日历Div全局样式 */
#datepicker{background:#fff; }
/* 日历Table样式 */
#datepicker table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
}
 
#datepicker tr {
    height: 26px;
    line-height: 26px;
}
 
#datepicker th {
    font-weight: normal;
	text-align:center;
	font-size:16px;
	height:55px;
	line-height:55px;
}
.thisDate {
    display: none;
}
 
#prevMonth {
	 background:url(images/blank_icon.png) -52px 0px no-repeat;
	 width:16px; height:17px; margin-top:5px;
}
 
#nextMonth {
	background:url(images/blank_icon.png) -70px 0px no-repeat;
	 width:16px; height:17px;margin-top:5px; 
}
 
#datepicker th a {
    display: inline-block;
    vertical-align:middle;
	
}
 
#datepicker td {
    border:#e6e6e6 1px solid;
    text-align: center;
	width:40px; height:30px;
	line-height:30px;
}
#datepicker td.day{ background:#2d8ddf; color:#fff; width:40px; height:40px;border:#2d8ddf 1px solid;}
 
#datepicker td a {
        display: inline-block;
        width: 100%;
        height: 100%;
 
}
 
/* 当前日样式 */
 
#datepicker .now_date {
    background: #2d8ddd;
	color:#fff
}
 
/* 月前，月后样式 */
 
#datepicker .prev_dayN, #datepicker .next_dayN {
    color: #cbcbcb;
}
#datepicker .activity a {
        color: #333;
        text-decoration: none;
		background:url(images/blank_icon.png) -92px 0px no-repeat;
}
